# Ignore node_modules folder
node_modules/

# Ignore environment variables
.env

# Ignore log files
*.log

# Ignore operating system files
.DS_Store

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore npm debug logs
npm-debug.log*

# Ignore build/output directories
dist/
build/

# Ignore package-lock.json
package-lock.json